<h1>Powerhouse#results</h1>
<p>Find me in app/views/powerhouse/results.html.erb</p>

<table>
	<thead>
		<td><strong>id</strong></td>
		<td><strong>User</strong></td>
		<td><strong>Tweet</strong></td>
	</thead>
	<tbody>
		<% @results.each do |tweet| %>
			<tr>
				<td><%= tweet.id %></td>
				<td><%= tweet.user.name %></td>
				<td><%= tweet.text %></td>
			</tr>
		<% end %>
	</tbody>
</table>